{% extends 'base.html' %}
{% block title %}
Курс валют
{% endblock %}

{% block body %}
<center>
  <hr class="featurette-divider">
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="width: 1200px; height: 200px;">
  <a class="navbar-brand" href="#">Курс валют на сьогодні:</a>
  <a class="navbar-brand" href="https://www.google.com/search?q=%D0%B4%D0%BE%D0%BB%D0%BB%D0%B0%D1%80%D1%8B&oq=%D0%B4%D0%BE%D0%BB%D0%BB%D0%B0%D1%80&aqs=chrome.0.69i59j69i57j35i39i650j0i131i433i512j0i433i512l2j69i61l2.1424j1j7&sourceid=chrome&ie=UTF-8">Доллар - 36.93</a>
  <a class="navbar-brand" href="https://www.google.com/search?q=%D1%94%D0%B2%D1%80%D0%BE&oq=%D1%94%D0%B2%D1%80%D0%BE&aqs=chrome.0.0i433i512l2j0i512j0i131i433i650j0i433i512j0i512j0i433i512j0i512j0i433i512j46i433i512.948j1j9&sourceid=chrome&ie=UTF-8">Євро - 39.63</a>
  <a class="navbar-brand" href="https://www.google.com/search?q=%D1%84%D1%83%D0%BD%D1%82&sxsrf=APwXEdeO-tiswSwFGzLvfP6jQo3-TGRS0Q%3A1685188807919&ei=x_BxZIPmN8OurgT7kJuwCw&ved=0ahUKEwjD5ZnCuZX_AhVDl4sKHXvIBrYQ4dUDCA8&uact=5&oq=%D1%84%D1%83%D0%BD%D1%82&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIHCCMQigUQJzIKCAAQigUQsQMQQzIHCAAQigUQQzIHCAAQigUQQzINCAAQgAQQFBCHAhCxAzIKCAAQigUQsQMQQzIHCAAQigUQQzIICAAQgAQQsQMyBwgAEIoFEEMyBQgAEIAEOgcIIxDqAhAnOgcILhDqAhAnOg8IABCKBRDqAhC0AhBDGAE6CwguEIMBELEDEIAEOgsILhCABBCxAxCDAToLCAAQgAQQsQMQgwE6CwgAEIAEELEDEIsDOhEILhCDARDHARCxAxDRAxCABDoOCC4QgAQQsQMQxwEQ0QM6CwguEIAEEMcBENEDOg0IABCKBRCxAxCDARBDSgQIQRgAUHdYgA1ggA9oAnABeACAAWeIAc8DkgEDNC4xmAEAoAEBsAEUuAECwAEB2gEGCAEQARgB&sclient=gws-wiz-serp">Фунт - 45.6</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</center>
{% endblock %}